#
# Docker
#
NETWORK=testnet
DOCKER_IMAGE="<change me>"
#DOCKER_LOG_DRIVER="json-file" # uncomment when running on MacOS

#
# Network
#
PUBLIC_IP="<change me>"

#
# Storage
#
LOCAL_BIND_PATH=/var/mezod

#
# Keyring
#
KEYRING_NAME="localkey"
KEYRING_PASSWORD="<change me>" # Can be generated using: openssl rand -hex 32
#KEYRING_MNEMONIC - can be loaded from env or from user input or generated

#
# Mezod
#
MEZOD_CHAIN_ID="mezo_31611-1"
MEZOD_HOME="/var/mezod"
MEZOD_MONIKER="<change me>"
MEZOD_ETHEREUM_SIDECAR_SERVER_ETHEREUM_NODE_ADDRESS="<change me>"
MEZOD_LOG_LEVEL=info
MEZOD_LOG_FORMAT=plain # json|plain
