image: "mezo/mezod"
tag: "v6.0.1"
imagePullPolicy: Always

env:
  # -- Select the network to connect to (mainnet or testnet)
  NETWORK: mainnet
  # -- Set public IP address of the validator
  PUBLIC_IP: "CHANGE_ME"
  # -- Set the chain ID (mezo_31612-1 is mainnet, mezo_31611-1 is testnet)
  MEZOD_CHAIN_ID: "mezo_31612-1"
  MEZOD_HOME: "/var/mezod"
  # -- Set the moniker (name of the validator)
  MEZOD_MONIKER: "CHANGE_ME"
  MEZOD_ETHEREUM_SIDECAR_SERVER: "localhost:7500" # it's in the same Pod
  MEZOD_ORACLE_ORACLE_ADDRESS: "localhost:8080" # it's in the same Pod
  MEZOD_LOG_LEVEL: info
  MEZOD_LOG_FORMAT: json # json|plain
  MEZOD_CUSTOM_CONF_APP_TOML: /config/app.toml.txt
  MEZOD_CUSTOM_CONF_CLIENT_TOML: /config/client.toml.txt
  MEZOD_CUSTOM_CONF_CONFIG_TOML: /config/config.toml.txt
  MEZOD_PORT_P2P: 26656 # Default. It should be changed in case of a custom setup

secrets:
  # -- Set Secret object containing the keyring information: KEYRING_NAME, KEYRING_PASSWORD, KEYRING_MNEMONIC and ETHEREUM_ENDPOINT
  credentials: "YOUR_SECRET_NAME"
  # -- Set Secret object with node_key.json, default is blank - if not blank, it's used by the template as a secret name
  nodeKey: ""

storage:
  className: "CHANGE_ME"
  size: "1Gi"
  useDataSource:
    # -- Enable and use to restore data from a snapshot or a PVC
    enabled: false
    apiGroup: ""
    kind: PersistentVolumeClaim # or VolumeSnapshot
    name: ""

resources:
  requests:
    # -- Set the resource requests for the mezod container
    cpu: "500m"
    memory: "512Mi"

securityContext:
  # -- Set the user and group ID to run the container (don't change)
  userId: 65532
  groupId: 65532

service:
  public:
    # -- Expose public ports to the Internet using LoadBalancer
    enabled: true
    annotations: {}
    type: LoadBalancer
    loadBalancerIP: ""
    allocateLoadBalancerNodePorts: false
    # Name of the ports must use kebab-case
    # External ports required to be exposed (absolute minimum):
    # - RPC Node: p2p, json-rpc, json-rpc-ws, rpc
    # - Seed Node: p2p
    # - Validator Node: p2p
    ports:
      p2p: 26656
      rpc: 26657
      api: 1317
      grpc: 9090
      json-rpc: 8545
      json-rpc-ws: 8546
  private:
    # -- Expose private ports internally using ClusterIP
    enabled: true
    # Name of the ports must use kebab-case
    ports:
      # -- EVM metrics are exposed on "/debug/metrics/prometheus"
      evm-metrics: 6065
      # -- Comet metrics are exposed on "/"
      comet-metrics: 26660 # "/"

### IMPORTANT:
### To enable Archive/Seed Nodes, you have to tweak customConfigs
### Archive node configuration:
# customConfigs:
#   enabled: true
#   appTomlTxt: "pruning=nothing"
#   clientTomlTxt: ""
#   configTomlTxt: ""
### Seed node configuration:
# customConfigs:
#   enabled: true
#   appTomlTxt: |
#     pruning=everything
#     state-sync.snapshot-interval=0
#   clientTomlTxt: ""
#   configTomlTxt: |
#     p2p.seed_mode=true
#     tx_index.indexer=null
customConfigs:
  # -- Optional: Load custom configuration from the files
  enabled: false
  # As content of the files, you can use the following format:
  # path.to.toml.key=value
  # anotherKey=anotherValue
  appTomlTxt: ""
  clientTomlTxt: ""
  configTomlTxt: ""

# -- Run shell in the container instead of the mezod process
maintenanceMode: false

priorityClassName: ""

labels: {}

connectSidecar:
  # Dockerfile: https://github.com/skip-mev/connect/blob/main/contrib/images/connect.sidecar.prod.Dockerfile
  image: "ghcr.io/skip-mev/connect-sidecar"
  tag: "v2.1.2"
  imagePullPolicy: Always
  ports:
    http: 8080
