#!/bin/bash

### Application ###
export MEZOD_CHAIN_ID="mezo_31611-1"
export MEZOD_HOME="/var/mezod"
export MEZOD_MONIKER="<your_mezo_validator_name>"

### Keyring ###
export MEZOD_KEYRING_NAME="<your_keyring_name>"
export MEZOD_KEYRING_DIR="$MEZOD_HOME"
export MEZOD_KEYRING_PASSWORD="<your_keyring_password>"

### Other ###
export MEZOD_ETHEREUM_SIDECAR_CLIENT_SERVER_ADDRESS="127.0.0.1:7500"
# Address to an ethereum node (web socket address)
# Example: wss://your.eth.node
export MEZOD_ETHEREUM_SIDECAR_SERVER_ETHEREUM_NODE_ADDRESS="<eth_node_address>"
export MEZOD_LOG_FORMAT="json"
export MEZOD_KEY_NAME="key0"
export MEZOD_LOGLEVEL="info"

export CONNECT_SIDECAR_PORT=8080

### Setup ###
# Version of mezod release you want to install
export MEZOD_VERSION="v0.1.0"
export MEZOD_ARCH="amd64"
export MEZOD_PUBLIC_IP="<your_public_ip>"

### Download Link ###
# Appropriate link for the mezo package (right now it should be a google artifact registry repository link)
export MEZOD_DOWNLOAD_LINK="<download_link_for_mezod_package>"
